<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
<div class="card">
    <table>
        <tr>
            <td><img src="ДЗ VD02+.jpg" alt="user"></td>
            <td>
                <p>ФИО: Умнецова Глафира Ивановна <span class="name"></span></p>
                <p>E-mail: <a href="mailto:umnecova@mail.ru" onclick="return confirmEmail()">umnecova@mail.ru</a></p>
                <p>Дата рождения: 06.10.2006</p>
                <p>Город: Томск</p>
            </td>
        </tr>
    </table>
</div>
    <h1>Blog Page</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </nav>
    <p>Welcome to our blog section!</p>
</body>
</html>
