<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
<div class="card">
    <table>
        <tr>
            <td><img src="VD02-MJ.jpg" alt="user"></td>
            <td>
                <p>ФИО: Красотуля Акулина Ивановна <span class="name"></span></p>
                <p>E-mail: <a href="mailto:akulina@mail.ru" onclick="return confirmEmail()">akulina@mail.ru</a></p>
                <p>Дата рождения: 06.10.2012</p>
                <p>Город:Новосибирск</p>
            </td>
        </tr>
    </table>
</div>
    <h1>Contact Us</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </nav>
    <p>Feel free to contact us through this page.</p>
</body>
</html>
